<footer class="footer bg-white">
  <div class="container text-black">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <h2 class="font-display fs-6 fs-lg-7 mb-2 mb-lg-0"><a href="index.html">ALPHABOX+</a></h2>
        <p class="ls-sm d-none d-lg-block">Copyright © 2023 Hexschool.</p>
      </div>
      <div class="col-lg-2 text-lg-center">
        <span class="circle__link circle__link--ani material-symbols-outlined fs-2"> emergency </span>
      </div>
      <ul class="d-lg-flex col-lg-5 justify-content-lg-end fw-bold">
        <li><a href="about.html" class="px-lg-3 py-2 py-lg-0">關於我們</a></li>
        <li><a href="product.html" class="px-lg-3 py-2 py-lg-0">產品資訊</a></li>
        <li><a href="faq.html" class="px-lg-3 py-2 py-lg-0">常見問題</a></li>
        <li><a href="#" class="ps-lg-3 py-2 py-lg-0">隱私政策</a></li>
      </ul>
      <p class="d-lg-none d-block ls-sm py-2 py-lg-0">Copyright © 2023 Hexschool.</p>
    </div>
  </div>
</footer>
