<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-fourth pb-14">
      <div class="container">
        <h2 class="ls--title text-third fs-5 fw-bold pt-12 pt-lg-15 line--dotted line--dotted-title pb-9 mb-10">FAQ</h2>
        <div class="row">
          <div class="col-lg-4">
            <ul>
              <li><a href="#" class="link--dark link__bottomLine link__bottomLine--ani pb-2">ALPHABOX+ 使用問題</a></li>
              <li><a href="#" class="link--dark link__bottomLine link__bottomLine--ani py-2">訂購與運送</a></li>
              <li>
                <a href="#" class="link--dark link__bottomLine link__bottomLine--ani py-2">產品保養與維修</a>
                <div class="line--dotted d-block d-lg-none mt-5"></div>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <ul class="accordion accordion-flush" id="accordionFlushExample">
              <li class="accordion-item line--dotted bg-fourth pb-9 pt-7 pt-lg-0">
                <h2 class="accordion-header">
                  <button
                    class="bg-fourth shadow-none accordion-button collapsed py-0 px-0 px-lg-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-1"
                    aria-expanded="false"
                    aria-controls="flush-1"
                  >
                    ALPHABOX+ 的使用方式是什麼？
                  </button>
                </h2>
                <div id="flush-1" class="accordion-collapse collapse pt-4" data-bs-parent="#accordionFlushExample">
                  <div class="bg-fourth accordion-body px-0 px-lg-5">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li class="accordion-item line--dotted bg-fourth py-9">
                <h2 class="accordion-header">
                  <button
                    class="bg-fourth shadow-none accordion-button collapsed py-0 px-0 px-lg-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-2"
                    aria-expanded="false"
                    aria-controls="flush-2"
                  >
                    ALPHABOX+ 需要什麼樣的環境來使用？
                  </button>
                </h2>
                <div id="flush-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="bg-fourth accordion-body px-0 px-lg-5">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li class="accordion-item line--dotted bg-fourth py-9">
                <h2 class="accordion-header">
                  <button
                    class="bg-fourth shadow-none accordion-button collapsed py-0 px-0 px-lg-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-3"
                    aria-expanded="false"
                    aria-controls="flush-3"
                  >
                    ALPHABOX+ 支援哪些語言？
                  </button>
                </h2>
                <div id="flush-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="bg-fourth accordion-body px-0 px-lg-5">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li class="accordion-item line--dotted bg-fourth py-9">
                <h2 class="accordion-header">
                  <button
                    class="bg-fourth shadow-none accordion-button collapsed py-0 px-0 px-lg-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-4"
                    aria-expanded="false"
                    aria-controls="flush-4"
                  >
                    ALPHABOX+ 的軟體更新方式為何？
                  </button>
                </h2>
                <div id="flush-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="bg-fourth accordion-body px-0 px-lg-5">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li class="accordion-item line--dotted bg-fourth py-9">
                <h2 class="accordion-header">
                  <button
                    class="bg-fourth shadow-none accordion-button collapsed py-0 px-0 px-lg-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-5"
                    aria-expanded="false"
                    aria-controls="flush-5"
                  >
                    購買 ALPHABOX+ 後的售後服務如何？
                  </button>
                </h2>
                <div id="flush-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="bg-fourth accordion-body px-0 px-lg-5">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
              <li class="accordion-item line--dotted bg-fourth py-9">
                <h2 class="accordion-header">
                  <button
                    class="bg-fourth shadow-none accordion-button collapsed py-0 px-0 px-lg-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-6"
                    aria-expanded="false"
                    aria-controls="flush-6"
                  >
                    ALPHABOX+ 與其他智能家居設備的相容性如何？
                  </button>
                </h2>
                <div id="flush-6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="bg-fourth accordion-body px-0 px-lg-5">
                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
