<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="banner__bg">
      <div class="container-fluid">
        <div class="banner pt-11 mb-12">
          <div class="row mb-11">
            <div class="d-none d-lg-block col-lg-4 align-self-end">
              <a href="#" class="link--light border-bottom pb-2">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
            </div>
            <div class="col-lg-4 d-flex justify-content-center order-1 order-lg-0">
              <img
                src="../assets/images/circle.png"
                alt="ALPHABOX"
                class="circle__link--ani"
                width="196px"
                height="196px"
              />
            </div>
            <div class="offset-lg-1 col-lg-3 d-flex flex-column justify-content-between mb-4 mb-lg-0">
              <p class="border-top pt-2">ALPHABOX+ STUDIO</p>
              <p class="d-none d-lg-block">Copyright © 2023 Hexschool.</p>
            </div>
          </div>
          <h1 class="banner__title fs-11 text-center">
            <span class="banner__title-item font-display fs-7 d-block">ALPHABOX+</span>
            <br />
            <span class="banner__title-desc">擁抱未來科技，專屬您的3D立體投影陪伴機器人</span>
          </h1>
          <div class="banner--transform">
            <ul class="row align-items-end">
              <li class="col-lg-3 mb-4 mb-lg-0">
                <div class="banner__card position-relative">
                  <h3 class="font-display fs-7 position-absolute start-50 translate-middle-x pt-4">Diane</h3>
                  <a href="#" class="stretched-link w-100 h-100"
                    ><img src="../assets/images/diane.png" alt="Diane" class="img-fluid"
                  /></a>
                </div>
              </li>
              <li class="col-lg-3 mb-4 mb-lg-0">
                <div class="banner__card position-relative">
                  <h3 class="font-display fs-7 position-absolute start-50 translate-middle-x pt-4">Felix</h3>
                  <a href="#" class="stretched-link w-100 h-100"
                    ><img src="../assets/images/felix.png" alt="Felix" class="img-fluid"
                  /></a>
                </div>
              </li>
              <li class="col-lg-3 mb-4 mb-lg-0">
                <div class="banner__card position-relative">
                  <h3 class="font-display fs-7 position-absolute start-50 translate-middle-x pt-4">Karina</h3>
                  <a href="#" class="stretched-link w-100 h-100"
                    ><img src="../assets/images/karina.png" alt="Karina" class="img-fluid"
                  /></a>
                </div>
              </li>
              <li class="col-lg-3">
                <div class="banner__card position-relative">
                  <h3 class="font-display fs-7 position-absolute start-50 translate-middle-x pt-4">Vito</h3>
                  <a href="#" class="stretched-link w-100 h-100"
                    ><img src="../assets/images/vito.png" alt="Vito" class="img-fluid"
                  /></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <main>
      <section class="intro">
        <div class="container-fluid">
          <div class="intro__mask"></div>
          <h2 class="mb-lg-9 mb-5 ls--title mt-2 fs-md-5 fs-8 fs-lg-6">什麼是<br />ALPHABOX+</h2>
        </div>
        <div class="d-block d-md-none border-bottom border-white border-2 mb-4"></div>
        <div class="position-relative px-lg-15 px-4">
          <div class="swiper intro-swiper container px-0 position-static">
            <ul class="mb-7 swiper-wrapper">
              <li class="position-relative swiper-slide">
                <img
                  src="../assets/images/carousel-1.png"
                  alt="立體投影技術"
                  class="img-fluid object-fit-cover w-100 h-100"
                />
                <h3 class="intro__slider-title position-absolute">
                  <span class="fs-3 fs-lg-2 font-display">01</span>
                  <br /><span class="fs-8 ls--subtitle">立體投影技術</span><br /><span class="fs-10"
                    >透過高科技立體投影技術，讓您感受真實的科技世界。</span
                  >
                </h3>
              </li>
              <li class="position-relative swiper-slide">
                <img
                  src="../assets/images/box.png"
                  alt="豐富的應用場景"
                  class="img-fluid object-fit-cover w-100 h-100"
                />
                <h3 class="intro__slider-title position-absolute">
                  <span class="fs-3 fs-lg-2 font-display">02</span>
                  <br /><span class="fs-8 ls--subtitle">豐富的應用場景</span><br /><span class="fs-10"
                    >無論是家庭娛樂、教育培訓還是商業展示，<br />為您提供更多元的互動體驗。</span
                  >
                </h3>
              </li>
              <li class="position-relative swiper-slide">
                <img
                  src="../assets/images/screen.png"
                  alt="簡單易用的操作界面"
                  class="img-fluid object-fit-cover w-100 h-100"
                />
                <h3 class="intro__slider-title position-absolute">
                  <span class="fs-3 fs-lg-2 font-display">03</span>
                  <br /><span class="fs-8 ls--subtitle">簡單易用的操作界面</span><br /><span class="fs-10"
                    >直觀的操作界面讓您可以輕鬆地掌握並運用它的各種功能。</span
                  >
                </h3>
              </li>
            </ul>
            <div class="swiper-button-next position-absolute"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
          </div>
        </div>
      </section>
      <section class="news bg-radial--dark">
        <div class="container pt-15 pb-9">
          <h2 class="fs-lg-5 fs-6 pb-9 ls--title border-bottom border-white">最新消息</h2>
          <ul class="row">
            <li class="col-12">
              <div class="news__item border-bottom py-9 px-4 position-relative">
                <time class="ls--title mb-2 d-block">
                  <span class="material-symbols-outlined fs-8 align-top me-4"> emergency </span>2023.06.30
                </time>
                <h3 class="fs-9 ls--title mb-3">產品升級公告</h3>
                <div class="d-lg-flex justify-content-between">
                  <p class="mb-3 mb-lg-0">
                    榮幸地宣布，ALPHABOX+
                    已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br />歡迎您了解本次升級帶來的更為卓越的性能！
                  </p>
                  <a href="#" class="stretched-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
                      <mask
                        id="mask0_237_5007"
                        style="mask-type: alpha"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="196"
                        height="24"
                      >
                        <rect width="196" height="24" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_237_5007)">
                        <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white" />
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </li>
            <li class="col-lg-6 pe-lg-0 border-left border-white d-flex">
              <div class="news__item border-bottom py-9 px-4 d-flex flex-column position-relative">
                <time class="ls--title mb-2 d-block">
                  <span class="material-symbols-outlined fs-8 align-top me-4"> emergency </span>2023.06.30
                </time>
                <h3 class="fs-9 ls--title mb-3">限時優惠活動</h3>
                <p class="mb-3 flex-grow-1">
                  為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+
                  的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                </p>
                <a href="#" class="stretched-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
                    <mask
                      id="mask0_233_4971"
                      style="mask-type: alpha"
                      maskUnits="userSpaceOnUse"
                      x="0"
                      y="0"
                      width="90"
                      height="24"
                    >
                      <rect width="90" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_233_4971)">
                      <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
            <li class="col-lg-6 ps-lg-0">
              <div class="news__item border-bottom py-9 px-4 position-relative">
                <time class="ls--title mb-2 d-block">
                  <span class="material-symbols-outlined fs-8 align-top me-4"> emergency </span>2023.04.18
                </time>
                <h3 class="fs-9 ls--title mb-3">新功能上線</h3>
                <p class="mb-3">
                  為使您的 ALPHABOX+
                  更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
                </p>
                <a href="#" class="stretched-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
                    <mask
                      id="mask0_233_4971"
                      style="mask-type: alpha"
                      maskUnits="userSpaceOnUse"
                      x="0"
                      y="0"
                      width="90"
                      height="24"
                    >
                      <rect width="90" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_233_4971)">
                      <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
          </ul>
          <div class="text-center mt-13 mb-9">
            <a href="#" class="circle__link position-relative link--light"
              ><img src="../assets/images/circle2.svg" alt="icon" class="circle__link--ani" width="132px" /><span
                class="start-50 top-50 translate-middle position-absolute"
                >查看更多</span
              ></a
            >
          </div>
          <p class="text-end">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        </div>
      </section>
      <section class="comment comment--bg overflow-hidden">
        <div class="container pt-15 pb-9">
          <div class="row align-items-center mb-4">
            <div class="col-lg-5"><h2 class="ls--subtitle fs-6 fs-lg-5 mb-4">使用分享</h2></div>
            <div class="col-lg-7"><p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p></div>
          </div>
          <div class="mb-9"><span class="me-2">01</span>－<span class="ms-2">04</span></div>
          <span class="material-symbols-outlined fs-4 d-block mb-6"> emergency </span>
        </div>
        <div class="container">
          <div class="swiper comment-swiper pb-15 position-relative vw-100">
            <ul class="row flex-md-nowrap swiper-wrapper position-static">
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center fw-bold">
                      Zona <span class="deco__circle deco__circle--sm d-inline-block mx-2"></span> Taipei
                    </p>
                    <p>
                      ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <p>ALPHABOX+ Dianne</p>
                  </div>
                </div>
              </li>
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center fw-bold">
                      Lin<span class="deco__circle deco__circle--sm d-inline-block mx-2 bg-secondary"></span> Chiayi
                    </p>
                    <p>
                      非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block me-4 bg-secondary"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block me-4 bg-secondary"></div>
                    <p>ALPHABOX+ Felix</p>
                  </div>
                </div>
              </li>
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center">
                      云 <span class="deco__circle deco__circle--sm d-inline-block mx-2"></span> Taipei
                    </p>
                    <p>
                      我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                      ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <p>ALPHABOX+ Dianne</p>
                  </div>
                </div>
              </li>
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center">
                      Zichi
                      <span class="deco__circle deco__circle--sm d-inline-block bg-secondary mx-2"></span> Kaohsiung
                    </p>
                    <p>
                      讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block bg-secondary me-4"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block bg-secondary me-4"></div>
                    <p>ALPHABOX+ Felix</p>
                  </div>
                </div>
              </li>
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center fw-bold">
                      Zona <span class="deco__circle deco__circle--sm d-inline-block mx-2"></span> Taipei
                    </p>
                    <p>
                      ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <p>ALPHABOX+ Dianne</p>
                  </div>
                </div>
              </li>
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center fw-bold">
                      Lin<span class="deco__circle deco__circle--sm d-inline-block mx-2 bg-secondary"></span> Chiayi
                    </p>
                    <p>
                      非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block me-4 bg-secondary"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block me-4 bg-secondary"></div>
                    <p>ALPHABOX+ Felix</p>
                  </div>
                </div>
              </li>
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center">
                      云 <span class="deco__circle deco__circle--sm d-inline-block mx-2"></span> Taipei
                    </p>
                    <p>
                      我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                      ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                    <p>ALPHABOX+ Dianne</p>
                  </div>
                </div>
              </li>
              <li class="col-lg-4 swiper-slide">
                <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0">
                  <div>
                    <p class="mb-7 d-flex align-items-center">
                      Zichi
                      <span class="deco__circle deco__circle--sm d-inline-block bg-secondary mx-2"></span> Kaohsiung
                    </p>
                    <p>
                      讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="deco__circle deco__circle--lg d-inline-block bg-secondary me-4"></div>
                    <div class="deco__circle deco__circle--lg d-inline-block bg-secondary me-4"></div>
                    <p>ALPHABOX+ Felix</p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="swiper-scrollbar position-absolute d-none d-md-block"></div>
          </div>
          <p class="pb-9">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
        </div>
      </section>
      <section class="contact bg-primary-dark">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <h2 class="contact-title ls--title fs-5">聯絡我們</h2>
              <p>讓科技成為您的最佳夥伴<br />立即體驗神奇功能並享限時優惠！</p>
            </div>
            <div class="col-lg-7">
              <span class="material-symbols-outlined fs-4 mb-4"> emergency </span>
              <form action="">
                <ul class="mb-4">
                  <li class="mb-3">
                    <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                    <input type="email" class="form-control bg-white rounded-0" placeholder="EMAIL" />
                  </li>
                  <li class="mb-3">
                    <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                    <textarea class="form-control bg-white rounded-0" rows="3" placeholder="COMMENTS"></textarea>
                  </li>
                </ul>
              </form>
              <div class="row">
                <div class="col-lg-4 ms-auto">
                  <button type="submit" class="btn btn-primary w-100">
                    <span class="material-symbols-outlined align-top me-1"> point_scan </span>送出
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <ul class="row">
            <li class="col-lg-3 border-end px-0">
              <div class="ai__card ai__card-1 p-9">
                <div class="ai__card-text">
                  <p class="font-num-display text-center">1</p>
                  <p class="text-center font-display fs-7 mb-12">Diane</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h3 class="fs-10 fw-bold">知識型</h3>
                      <p>智能問答</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
                      <mask
                        id="mask0_1004_700"
                        style="mask-type: alpha"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="155"
                        height="24"
                      >
                        <rect width="155" height="24" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_1004_700)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-lg-3 border-end px-0">
              <div class="ai__card ai__card-2 p-9">
                <div class="ai__card-text">
                  <p class="font-num-display text-center">2</p>
                  <p class="text-center font-display fs-7 mb-12">Felix</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h3 class="fs-10 fw-bold">娛樂型</h3>
                      <p>音樂播放/語音互動/遊戲陪伴</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
                      <mask
                        id="mask0_1004_700"
                        style="mask-type: alpha"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="155"
                        height="24"
                      >
                        <rect width="155" height="24" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_1004_700)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-lg-3 border-end px-0">
              <div class="ai__card ai__card-3 p-9">
                <div class="ai__card-text">
                  <p class="font-num-display text-center">3</p>
                  <p class="text-center font-display fs-7 mb-12">Karina</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h3 class="fs-10 fw-bold">生活型</h3>
                      <p>健康提醒/日程安排/智能家居</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
                      <mask
                        id="mask0_1004_700"
                        style="mask-type: alpha"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="155"
                        height="24"
                      >
                        <rect width="155" height="24" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_1004_700)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-lg-3 border-end px-0">
              <div class="ai__card ai__card-4 p-9">
                <div class="ai__card-text">
                  <p class="font-num-display text-center">4</p>
                  <p class="text-center font-display fs-7 mb-12">Vito</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h3 class="fs-10 fw-bold">情感型</h3>
                      <p>情感識別/心情分析/心靈支持</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24" viewBox="0 0 155 24" fill="none">
                      <mask
                        id="mask0_1004_700"
                        style="mask-type: alpha"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="155"
                        height="24"
                      >
                        <rect width="155" height="24" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_1004_700)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
