<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="product__tab container d-flex justify-content-center">
      <ul class="nav nav-pills my-4 flex-nowrap" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="u-tab-btn active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-product1"
            type="button"
            role="tab"
            aria-controls="pills-product1"
            aria-selected="true"
          >
            Diane
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="u-tab-btn"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-product2"
            type="button"
            role="tab"
            aria-controls="pills-product2"
            aria-selected="false"
          >
            Felix
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="u-tab-btn"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-product3"
            type="button"
            role="tab"
            aria-controls="pills-product3"
            aria-selected="false"
          >
            Karina
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="u-tab-btn"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-product4"
            type="button"
            role="tab"
            aria-controls="pills-product4"
            aria-selected="false"
          >
            Vito
          </button>
        </li>
      </ul>
    </div>
    <!-- content -->
    <div class="position-relative">
      <ul class="tab-content" id="pills-tabContent">
        <li
          class="tab-pane fade show active"
          id="pills-product1"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
          tabindex="0"
        >
          <div class="row mx-0 align-items-center">
            <div class="col-lg-6 px-0 swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/diane_square1.png" alt="diane1" class="product__img img-fluid" />
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/diane_square2.png" alt="diane2" class="product__img img-fluid" />
                </div>
              </div>
              <div class="swiper-button-next position-absolute"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="col-lg-6 px-0">
              <div class="ms-lg-9 ms-3 pt-4 pt-lg-0">
                <h2 class="font-display mb-6 fs-3">Diane</h2>
                <p class="mb-5"><span class="fw-bold">知識型</span><br />學術領導/知識分享/智能問答</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="306"
                  height="14"
                  viewBox="0 0 306 14"
                  fill="none"
                  class="d-lg-block d-none"
                >
                  <path
                    d="M283.55 13.8938L290.486 8.24316H0.0500488V6.3596H290.486L283.55 0.708916L305.825 7.30138L283.55 13.8938Z"
                    fill="white"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="90"
                  height="24"
                  viewBox="0 0 90 24"
                  fill="none"
                  class="d-block d-lg-none"
                >
                  <mask
                    id="mask0_447_2493"
                    style="mask-type: alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="90"
                    height="24"
                  >
                    <rect width="90" height="24" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_447_2493)">
                    <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
        <li class="tab-pane fade" id="pills-product2" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <div class="row mx-0 align-items-center">
            <div class="col-lg-6 px-0 swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/felix_square1.png" alt="felix1" class="product__img img-fluid" />
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/felix_square2.png" alt="felix2" class="product__img img-fluid" />
                </div>
              </div>
              <div class="swiper-button-next position-absolute"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="col-lg-6 px-0">
              <div class="ms-lg-9 ms-3 pt-4 pt-lg-0">
                <h2 class="font-display mb-6 fs-3">Felix</h2>
                <p class="mb-5"><span class="fw-bold">娛樂型</span><br />音樂播放/語音互動/遊戲陪伴</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="306" height="14" viewBox="0 0 306 14" fill="none">
                  <path
                    d="M283.55 13.8938L290.486 8.24316H0.0500488V6.3596H290.486L283.55 0.708916L305.825 7.30138L283.55 13.8938Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
          </div>
        </li>
        <li class="tab-pane fade" id="pills-product3" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
          <div class="row mx-0 align-items-center">
            <div class="col-lg-6 px-0 swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/karina_square1.png" alt="karina1" class="product__img img-fluid" />
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/karina_square2.png" alt="karina2" class="product__img img-fluid" />
                </div>
              </div>
              <div class="swiper-button-next position-absolute"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="col-lg-6 px-0">
              <div class="ms-lg-9 ms-3 pt-4 pt-lg-0">
                <h2 class="font-display mb-6 fs-3">Karina</h2>
                <p class="mb-5"><span class="fw-bold">生活型</span><br />健康提醒/日程安排/智能家居</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="306" height="14" viewBox="0 0 306 14" fill="none">
                  <path
                    d="M283.55 13.8938L290.486 8.24316H0.0500488V6.3596H290.486L283.55 0.708916L305.825 7.30138L283.55 13.8938Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
          </div>
        </li>
        <li class="tab-pane fade" id="pills-product4" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <div class="row mx-0 align-items-center">
            <div class="col-lg-6 px-0 swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/vito_square1.png" alt="vito1" class="product__img img-fluid" />
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/vito_square2.png" alt="vito2" class="product__img img-fluid" />
                </div>
              </div>
              <div class="swiper-button-next position-absolute"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="col-lg-6 px-0">
              <div class="ms-lg-9 ms-3 pt-4 pt-lg-0">
                <h2 class="font-display mb-6 fs-3">Vito</h2>
                <p class="mb-5"><span class="fw-bold">情感型</span><br />情感識別/心情分析/心靈支持</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="306" height="14" viewBox="0 0 306 14" fill="none">
                  <path
                    d="M283.55 13.8938L290.486 8.24316H0.0500488V6.3596H290.486L283.55 0.708916L305.825 7.30138L283.55 13.8938Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <a href="#product-content" class="circle__link link--light product__arrow translate-middle-x mb-lg-12 mb-6"
        ><img src="../assets/images/circle2.svg" alt="icon" class="circle__link--ani" width="132px" /><span
          class="start-50 top-50 translate-middle position-absolute"
          ><span class="material-symbols-outlined fs-6"> arrow_downward </span></span
        ></a
      >
    </div>

    <section class="bg-white text-black pt-10 pb-13" id="product-content">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4">
            <h2 class="fs-9 d-flex align-items-center mb-7">
              <span class="material-symbols-outlined fs-6"> emergency </span>學術領導/知識分享/智能問答
            </h2>
            <p class="mb-lg-14 mb-7">
              歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！
            </p>
          </div>
          <div class="col-lg-8 d-none d-lg-block">
            <p class="text-end">ALPHABOX+</p>
          </div>
        </div>
        <ul class="row">
          <li class="col-lg-4 mb-lg-14 mb-6">
            <div class="position-relative">
              <h3 class="fs-10 mb-lg-6 mb-4 fw-bold">
                <span class="link__bottomLine link__bottomLine--ani">
                  <a href="#" class="d-block stretched-link link--dark">先進的3D投影技術</a>
                </span>
              </h3>
              <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
            </div>
          </li>
          <li class="col-lg-4 mb-lg-14 mb-6">
            <div class="position-relative">
              <h3 class="fs-10 mb-lg-6 mb-4 fw-bold">
                <span class="link__bottomLine link__bottomLine--ani">
                  <a href="#" class="d-block stretched-link link--dark">人性化的互動設計</a>
                </span>
              </h3>
              <p>Felix 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Felix 進行自然、流暢的對話。</p>
            </div>
          </li>
          <li class="col-lg-4 mb-lg-14 mb-6">
            <div class="position-relative">
              <h3 class="fs-10 mb-lg-6 mb-4 fw-bold">
                <span class="link__bottomLine link__bottomLine--ani">
                  <a href="#" class="d-block stretched-link link--dark">豐富的應用場景</a>
                </span>
              </h3>
              <p>無論是家庭娛樂、教育培訓還是商業展示，Felix 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
            </div>
          </li>
          <li class="col-lg-4 mb-6">
            <div class="position-relative">
              <h3 class="fs-10 mb-lg-6 mb-4 fw-bold">
                <span class="link__bottomLine link__bottomLine--ani">
                  <a href="#" class="d-block stretched-link link--dark">高度自主性</a>
                </span>
              </h3>
              <p>Felix 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </div>
          </li>
          <li class="col-lg-4">
            <div class="position-relative">
              <h3 class="fs-10 mb-lg-6 mb-4 fw-bold">
                <span class="link__bottomLine link__bottomLine--ani">
                  <a href="#" class="d-block stretched-link link--dark">簡單易用的操作界面</a>
                </span>
              </h3>
              <p>Felix 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="comment bg-radial--light py-12 py-lg-15">
      <div class="container">
        <div class="row align-items-center mb-4">
          <div class="col-lg-5 mb-lg-13 mb-6">
            <h2 class="ls--title fs-5 mb-3">使用分享</h2>
            <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
        </div>

        <ul class="row">
          <li class="col-lg-4">
            <div class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0" data-aos="fade-up">
              <div>
                <p class="mb-7 d-flex align-items-center">
                  Zichi <span class="deco__circle deco__circle--sm d-inline-block mx-2"></span> Kaohsiung
                </p>
                <p>
                  自從家裡有了Felix，孩子們的學習興趣提高了不少，他們都喜歡透過Felix的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！
                </p>
              </div>
              <div class="d-flex align-items-center">
                <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                <p>ALPHABOX+ Felix</p>
              </div>
            </div>
          </li>
          <li class="col-lg-4">
            <div
              class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div>
                <p class="mb-7 d-flex align-items-center">
                  Lee <span class="deco__circle deco__circle--sm d-inline-block mx-2 bg-secondary"></span> Chiayi
                </p>
                <p>
                  自從公司引入 Felix，員工的工作效率提升了很多。Felix
                  不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！
                </p>
              </div>
              <div class="d-flex align-items-center">
                <div class="deco__circle deco__circle--lg d-inline-block bg-secondary me-4"></div>
                <div class="deco__circle deco__circle--lg d-inline-block bg-secondary me-4"></div>
                <p>ALPHABOX+ Felix</p>
              </div>
            </div>
          </li>
          <li class="col-lg-4">
            <div
              class="comment__card p-9 d-flex flex-column justify-content-between mb-6 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div>
                <p class="mb-7 d-flex align-items-center">
                  瑞 <span class="deco__circle deco__circle--sm d-inline-block mx-2"></span> Taipei
                </p>
                <p>
                  Felix
                  讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Felix給所有的教育工作者！
                </p>
              </div>
              <div class="d-flex align-items-center">
                <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                <div class="deco__circle deco__circle--lg d-inline-block me-4"></div>
                <p>ALPHABOX+ Felix</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
